@model List<Pelicula>
<link href="~/css/styles.css" rel="stylesheet" />
<h2>Resultados de la búsqueda</h2>

@if (Model.Count > 0)
{
    <ul>
        @foreach (var item in Model)
        {
            
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="@item.Cartelera" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">
                            <p>@item.Titulo</p>
                         </div>
                    </div>
                </div>
            </div>
        }
    </ul>
}
else
{
    <p>No se encontraron resultados.</p>
}