@model List<Funcion>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/styles.css" rel="stylesheet" />


<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestros Servicios</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-dark"></i>
                    <i class="fas fa-film fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Peliculas</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-dark"></i>
                    <i class="fas fa-ticket fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Funciones</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-dark"></i>
                    <i class="fas fa-info fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Info</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Peliculas</h2>
            <h3 class="section-subheading text-muted">Aquí puedes encontrar las últimas tendencias</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                @if (Model != null && Model.Count > 0)
                {
                    Dictionary<string, List<Pr3Obligatorio_AAN2023.Models.Funcion>> funcionesPorTitulo = new Dictionary<string, List<Pr3Obligatorio_AAN2023.Models.Funcion>>();

                    <div class="row mt-5">
                        @foreach (var funcion in Model)
                        {
                            if (!funcionesPorTitulo.ContainsKey(funcion.Pelicula.Titulo))
                            {
                                funcionesPorTitulo[funcion.Pelicula.Titulo] = new List<Pr3Obligatorio_AAN2023.Models.Funcion>();
                            }
                            funcionesPorTitulo[funcion.Pelicula.Titulo].Add(funcion);
                        }

                        @foreach (var titulo in funcionesPorTitulo.Keys)
                        {
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-img-container">
                                        <img src="https://i.blogs.es/f9a58d/aquaman-poster-comic-con-2018/450_1000.jpg" class="card-img-top" alt="Card 3">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@titulo</h5>
                                        <select class="form-select" name="funciones" id="funciones">
                                            <option value="">Seleccionar función</option>
                                            @foreach (var funcion in funcionesPorTitulo[titulo])
                                            {
                                                <option value="@funcion.Id">@funcion.Fecha - @funcion.Horario</option>
                                            }
                                        </select>
                                        <a class="btn btn-primary" href="/Reservas/Create?funcionId=@funcionesPorTitulo[titulo][0].Id">Reservar</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>
