@using Microsoft.Extensions.Caching.Memory;
@functions {
    public bool UserLoggedIn()
    {
        var usuario = Context.RequestServices.GetService<IMemoryCache>().Get<Usuario>("Usuario");
        return usuario != null;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pr3Obligatorio_AAN2023</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Pr3Obligatorio_AAN2023.styles.css" asp-append-version="true" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="assets/img/LogoApp.png" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>           
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    @if (!UserLoggedIn())
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Inicio" asp-action="Inicio">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Usuarios" asp-action="Create">Registrate!!</a>
                         </li>
                    
                    }
                    @if (UserLoggedIn()){
                    <li class="nav-item"><a class="nav-link" asp-controller="Peliculas" asp-action="Index">Peliculas</a></li>

                    <li class="nav-item"><a class="nav-link" asp-controller="Funcions" asp-action="Index">Funciones</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead2">
        <div class="container">
            <div class="masthead-subheading">Bienvenidos al Cinecito!</div>
            <div class="masthead-heading text-uppercase">La mejor calidad para vos</div>
            <a class="btn btn-secondary btn-xl text-uppercase" asp-controller="Reservas" asp-action="Index">Reserva tu funcion</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
