@model Usuario
<link href="~/css/styles.css" rel="stylesheet" />

@{
    var mensajeError = TempData["mensajeError"] as string;
}

@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger">
        @mensajeError
    </div>
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login más lindo</title>
    <!-- CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos adicionales -->
    <style>
    /*    body {
            background-color: #2333;
        }

        .login-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            .login-container h2 {
                text-align: center;
                margin-bottom: 20px;
            }

            .login-container label {
                font-weight: bold;
            }

            .login-container .form-control {
                border: 1px solid #ced4da;
                border-radius: 4px;
                box-shadow: none;
            }

            .login-container .btn-primary {
                width: 100%;
            }*/
            body {
            background: #3C4048;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
    </style>
</head>
<body>
@*    <!-- Contenedor del formulario de inicio de sesión -->
    <div class="container mt-5 pt-5">
        <div class="login-container">
            <h2>Iniciar Sesión</h2>
            <form method="post" asp-action="Login" asp-controller="Inicio">
                <div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <input type="email" class="form-control" id="username" placeholder="Ingrese su email" required asp-for="Email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña" required asp-for="Constraseña">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                <label class="alert-danger">@ViewBag.Error</label>
                <button type="submit" class="btn btn-primary" asp-controller="InicioAdmin" asp-action="InicioAdmin">Soy admin</button>
            </form>
        </div>
    </div>*@
    
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-img-left d-none d-md-flex">
                            <!-- Background image for card set in CSS! -->
                        </div>
                        <div class="card-body p-4 p-sm-5">
                            <h5 class="card-title text-center mb-5 fw-light fs-5">Iniciar Sesion</h5>
                            <form method="post" asp-action="Login" asp-controller="Inicio">

                             
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInputEmail" placeholder="Ingrese su email" required asp-for="Email">
                                    <label for="floatingInputEmail">Email</label>
                                </div>

                                <hr>

                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Ingrese su contraseña" required asp-for="Constraseña">
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <div class="d-grid mb-2">
                                    <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Iniciar Sesion</button>
                                </div>
                                <div class="d-grid mb-2">
                                    <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit" asp-controller="InicioAdmin" asp-action="InicioAdmin">Soy administrador</button>
                                </div>
                            <a class="d-block text-center mt-2 small" asp-controller="Usuarios" asp-action="Create">No tienes cuenta? Registrate</a>

                                <hr class="my-4">

                                <div class="d-grid mb-2">
                                    <button class="btn btn-lg btn-google btn-login fw-bold text-uppercase" type="submit">
                                        <i class="fab fa-google me-2"></i> Iniciar con Google
                                    </button>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase" type="submit">
                                        <i class="fab fa-facebook-f me-2"></i> Iniciar con Facebook
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    s
    <!-- JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
