

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap" />
    <link rel="stylesheet" href="~/css/Cartelera.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Movie Design</title>


 

       
            <div class="encabezado featured-contentS">
                <img class="featured-title" src="~/assets/imgcartelera/f-t-1.png" alt="">
                <p class="featured-desc">
        Django Unchained es una película estadounidense del género western escrita y dirigida por Quentin Tarantino, interpretada por un amplio reparto encabezado por Jamie Foxx, Leonardo DiCaprio, Christoph Waltz y Samuel L. Jackson.
                </p>
                <button class="featured-button">WATCH</button>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">NEW RELEASES</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/1.jpeg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/2.jpeg" alt="">
                            <span class="movie-list-item-title">Star Wars</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/3.jpg" alt="">
                            <span class="movie-list-item-title">Storm</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/4.jpg" alt="">
                            <span class="movie-list-item-title">1917</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/5.jpg" alt="">
                            <span class="movie-list-item-title">Avengers</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/6.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/7.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">NEW RELEASES</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/8.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/19.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/9.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/10.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/11.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/12.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/13.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="featured-content"
                 style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/f-2.jpg');">
                <img class="featured-title" src="img/f-t-2.png" alt="">
                <p class="featured-desc">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
                    deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
                    minima voluptatibus incidunt. Accusamus, provident.
                </p>
                <button class="featured-button">WATCH</button>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">NEW RELEASES</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/14.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/9.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/15.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/16.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/17.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/18.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/19.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">NEW RELEASES</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/1.jpeg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/13.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/6.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/10.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/12.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/9.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="~/assets/imgcartelera/3.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
        
   
    <script src="~/js/"></script>


